html {
  font-size: 15px;
}
body {
  margin: 0;
}
div {
  
}
.content {
	background-color: lightgreen;
	
}
li {
	font-size: 1.2rem;
}

.technical {
	background-color: Aqua;
}
h1, h2 {
  text-decoration: underline;
}
.byke {
  color: Fuchsia;
  border: 5px double Goldenrod;
	border-radius: 15%;
}
